/* Relative units -- vh, vw , %, em, rem */
/* vh - viewport height --  85vh -- 85% of the available screen height */
/* vw - viewport width -- 50vw -- 50 % of available screen width */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

.hero {
  height: 80vh;
  background-image: url("./images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
}
#desktop-nav {
  display: none;
}
#mobile-nav {
  display: none;
}
#mobile-nav.active {
  display: block;
  background-color: black;
  position: fixed;
  inset: 0; /*top 0 right 0 left 0 bottom ----- - -- - position property(fixed, relative,absolute,sticky)*/
  /* transitions and transformation */
  padding: 20px;
}
#mobile-nav .nav-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
#mobile-nav a {
  display: block;
  font-size: 25px;
  margin-top: 16px;
  text-decoration: none;
  color: white;
}
#mobile-nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#mobile-menu {
  background-color: transparent;
  border: none;
  cursor: grab;
  transition: all 0.1s linear;
}
#mobile-menu:hover {
  transform: scale(1.2);
}
.hero .heading {
  height: 100%;
  display: flex;
  align-items: center;
}
.hero h1 {
  color: white;
  border: 3px solid white;
  padding: 25px;
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  word-wrap: break-word;
}

/* intro section */
#interractive-desktop-image{
  display: none;

}

.intro img{
  width: 100%;
}
.intro h2{
  font-weight: lighter;
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 20px;
}
.intro p{
  color: rgb( 61,59,59);
}
.intro {
  padding: 20px;
  text-align: center;
}
/* creation sections */
.creations{
  padding: 20px;

}
#desktop-link{
  display: none;
}
.creations-header h2{
  font-weight: lighter;
  font-size: 35px;
  text-transform: uppercase;
}
.content {
  display: block;
  margin-bottom: 20px;
  position: relative;

}
.content img{
  width: 100px;

}
.content img:nth-child(2){
  display: none;

}
.content h3 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-weight: lighter;
  font-size: 25px;
  text-transform: uppercase;

}
.content:hover .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.71);

}
.content:hover h3{
  color: black;
  z-index: 3;
  font-weight: 300px;
}
@media (min-width: 370px) {
  .hero h1 {
    font-size: 45px;
  }
}
@media (min-width: 870px) {
  .hero h1 {
    font-size: 55px;
    width: 50%;
  }
  .hero {
    background-image: url("./images/desktop/image-hero.jpg");
  }
  #mobile-menu {
    display: none;
  }
  #mobile-nav.active {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
  #desktop-nav a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
  }
  
.intro {
  display: flex;
  align-items: end;
 
}

.intro .images-side {
  flex:1.3;
}
.intro .text-side{
  flex: 1;
  background-color: white;
  margin-left: -100px;
  padding: 13px;
}
.creations-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.content{
  min-width: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(25% - 15px);
}
.content img{
  width: 100%;
}
.content img:nth-child(1){
 display: none;
}
.content img:nth-child(2){
  display: block;

}

.content:hover h3{
  color: black;
  z-index: 3;
  font-weight: 300;
}

}
footer{
  background-color: black;
  
  padding:20px ;
  color: white;
  text-align: center;
}
footer> div:first-child a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 16px 0px;
}
footer .socials{
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style-type: none;
  margin-bottom: 20px;
}

@keyframes slide-in {

  0%{
    transform: translateX(-1000px);
    opacity : 0;


  }
  100% {
    transform : translatex(
    0px
    );
    opacity:1;

  }
}
